<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/elaa_logo.png' %}" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <style>
      .formsPers {
          max-width: 40%;
          margin:10px auto;
      }	
      @media (max-width:768px) {
          
          .formsPers {
          max-width: 90%;
          height: 10px;
          width: 100%; 
          }
      }   
  </style>

</head>
<body>
<header>
 <nav>
  <a href="#"> <img class = "logo" src="{% static 'img/elaa_logo.png' %}" alt="logo" />  </a>
   <ul class="enlaces-menu">
    <li> <a href="/main/"> Inicio </li>
    {% if request.user.is_superuser %}
    <li> <a href="/ETAdmin/" target="_blank"> Administrar </li>
    {% endif %}
    <li> <a href="/clientes/registrarcliente/"> Registrar cliente</a></li>
    <li> <a href="/clientes/cambiodestatus/"> Escrituras/clientes</a></li>
    <li> <a href="/clientes/historialEtapas/"> Historial de etapas </a></li>
    <li> <a href="/logout/"> Cerrar sesion </a> </li>
   </ul>
   <button class="ham" type="button">   
    <span class="br-1"></span>
    <span class="br-2"></span>
    <span class="br-3"></span>
   </button>                       
 
 </nav> 
 </header>
 <script src="{% static 'js/main.js' %}"></script>
 <script src="{% static 'js/jquery.js' %}"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 <!-- Latest compiled and minified JavaScript -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</body>
