{% include 'base.html'%}
{% block head_content %}
<title>Ernesto Tellez Sys</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    

{% endblock%}

{% block container %}

    <form method="POST" action="{% url "usuariosapp:login" %}"> <!-- Referencia a name = 'login' en url.py -->
        {% csrf_token %}
    <div class="container h-100">
        
        <div class="col-sm-12 col-md-20" id="auth-container">
            <img src="{% static 'img/ETELLEZ1C.png' %}" class="img-fluid rounded mx-auto d-block pb-4" style="max-width: 70%;">
        </div>
        
    </div>

    </form>

{% endblock %}