{% include 'base.html'%}
{% block head_content %}
<title>Buscar etapa cliente </title>
{% endblock %}

{% block container %}
    {% if mssj %}  <!-- error mandado de view.py url.py -->
    <p class="alert alert-success">{{ mssj }}</p> 
    {% endif %}

    {% if error != "No" %}  <!-- error mandado de view.py url.py -->
    <p style="color: red;">{{ error }}</p> 
    {% endif %}
    <br>
    <form method="POST"> <!-- Referencia a name = 'login' en url.py -->
        {% csrf_token %}

        <div class="formsPers">
            <div class="alert alert-info"> Actualizar etapa </div> 

            <div class="alert alert-info"> Se abrirá WhatsApp si el teléfono del cliente lo hace posible </div> 

            <div class="form-group">
                <select class="form-control" name="etapacliente">
                <option value = "{{ etapaCliente_.id }}"> {{ etapaCliente_.etapa }}</option>
                    {% for etapas in etapas %}
                    <option value="{{ etapas.id }}"> {{ etapas.etapa }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block " type="submit" >Actualizar Etapa</button>
            </div>

            <div class="form-group">
                <a href ="javascript: history.go(-1)" class = "btn btn-danger btn-block">Cancelar</a>
            </div>

        </div>  
    </form>
{% endblock %}