{% include 'base.html'%}
{% block head_content %}
<title>Buscar cliente </title>

{% endblock %}

{% block container %}
   

    <form method="POST" action="{% url "etapasEscritura:clienteStatus" %}"> <!-- Referencia a name = 'login' en url.py -->
        {% csrf_token %}

     <div class="formsPers">
        <p class="alert alert-success">Busqueda de clientes</p> 
        {% if error == "No" %}  <!-- error mandado de view.py url.py -->
        <p class ="alert alert-danger">{{ error }}</p> 
        {% endif %}

        {% if mssj %}  <!-- error mandado de view.py url.py -->
         <p class="alert alert-info">{{ mssj }}</p> 
        {% endif %}

        {% if mssj_pantalla  %}
         <p class="alert alert-info">{{ mssj_pantalla }}</p> 
        {% elif cliente_actualizado %}
         <p class="alert alert-info"> Se actualizó a {{ cliente_actualizado }} a la etapa de {{ etapacliente_actualizado }}</p> 
        {% endif %}
 
            <div class="form-group">
             <select name="clientenombre" class="selectpicker report-filter form-control" data-live-search="true">
    
                {% if clientebus %}
                 <option value="{{ clientebus }} "> {{ clientebus }}</option>
                {%  endif %}
                <option value="" >-- Selecciona un cliente --</option>
                {% for clientes in clientes %}
                <option value="{{ clientes.id }}- {{ clientes.nombre }} {{ clientes.apellidos }} "> {{ clientes.id }}- {{ clientes.nombre }} {{ clientes.apellidos }}</option>
                {% endfor %}
             </select> 
             
            </div>
            <br>
            
            <div class="form-group">
            <button class="btn btn-primary btn-block " type="submit" >Buscar</button>
            <div>
            {% if busqueda %}
            <hr>
            {% else %}
            <br><br><br>
            {% endif %}
             
            {% if busqueda %}
            <div class="form-group">
                Nombre
                <input class="form-control" type="text"  name="clientenombrebus" value = '{{ cliente_bus }}' placeholder="Cliente" readonly/>
            </div>
            <div class = "row">
                <div class="form-group col-md-5">
                    Ocupación
                    <input class="form-control" type="text"  name="clienteocupa" value = '{{ ocupacion }}' placeholder="Ocupacion" readonly/>
                </div>

                <div class="form-group col-md-6">
                    Email
                    <input class="form-control" type="text" name="email" value = '{{ direccion.email }}' placeholder="Email" readonly />
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-md-5">
                    Telefono
                    <input class="form-control" type="text" name="telefono" value = '{{ telefono.telefono }}' placeholder="Telefono" readonly />
                </div>
                <div class="form-group col-md-5">
                    Tiene WhatsApp?
                    <input class="form-control" type="text" name="iswhats" value = '{{ iswhats }}' readonly />
                </div>
            </div>

            
            <div class="form-group">
                Dirección
                <input class="form-control" type="text" name="Calle" value = '{{ direccion.direccion }}, {{ direccion.fraccionamiento}}' placeholder="Etapa"/ readonly>
            </div>   
            <div class="form-group row">
                <div class ="col-md-5">
                    Municipio
                    <input class="form-control" type="text" value = '{{direccion.ciudad}}' placeholder="Etapa"/ readonly>
                </div>
                <div class = "col-md-5">
                    Estado
                    <input class="form-control" type="text" value = '{{direccion.estado}}' placeholder="Etapa"/ readonly>
                </div>
            </div>
               
            {% if afiliacion %}
                <div class ="form-group">
                    Afiliacion 
                    <input class ="form-control" type="text" name="afiliacion_num" value='{{ afiliacion.numero }}' readonly />
                </div>

                {% if afiliacion.tieneTC %}
                <div class ="form-group">
                <input type="checkbox" id="afiliaciontc" name="afiliacion_tc"  checked onclick="return false;"/><label for="afiliaciontc"> Tiene TC </label>
                </div>
                {% endif %}
                
                {% if afiliacion.tieneCredHipotecario %}
                <div class ="form-group">
                    <input type="checkbox" id="afiliaciontchipo" name="afiliacion_tc_hipo" checked onclick="return false;"/><label for="afiliaciontchipo"> Tiene crédito hipotecario </label>
                </div>
                {% endif %}

                {% if afiliacion.tieneCredAuto %}
                <div class ="form-group">
                    <input type="checkbox" id="afiliacion_crediauto" name="afiliacion_credia_uto"  checked onclick="return false;"/><label for="afiliacion_crediauto"> Tiene crédito automotriz </label>
                </div>
                {% endif %}
            
            {% endif %}

            <div class="form-group">
                Ultima escritura
                <input style="font-weight: bold; font-size: 1.4rem; " class="form-control" type="text"  name="etapaCliente" value = '{{ escritura }}' placeholder="Buscar cliente" readonly/>
            </div>
            
            {% if escritura %}
            <div class="form-group">
                Etapa
                <input style="font-weight: bold; font-size: 1.4rem; " class="form-control" type="text"  name="etapaCliente" value = '{{ etapaCliente_ }}' placeholder="Buscar cliente" readonly/>
            </div>
            {% endif %}
            

            <div class="form-group">
                <a href ="{% url 'clientes:mostrarEscrituras' cliente_bus %}" class = "btn btn-success btn-block">  Escrituras  </a> 
            </div>
            
            <div class="form-group">
                <a href ="{% url 'clientes:editarclientes' cliente_bus %}" class = "btn btn-secondary btn-block">Editar información</a> 
            </div>

        </div>

        {% endif %}

        
     </div>

     </div>  
    </form>


{% endblock %}