{% include 'base.html'%}
{% block head_content %}
<title>Crear registro de escritura</title>

{% endblock %}

{% block container %}
{% if error != "No" %}  <!-- error mandado de view.py url.py -->
    <p style="color: red;">{{ error }}</p> 
{% endif %}
<br>
<form method ="POST"  action = "/clientes/registrarEscritura/{{cliente_nombre}}">
    {% csrf_token %}
    <div class="container" id="nuevaEscritura">
        {% if mssj %}  <!-- error mandado de view.py url.py -->
            <div class="alert alert-success">{{ mssj }}</div>
        {% else %}
        <div class="alert alert-info">Registrar Nueva escritura</div>
        {% endif %}
        <br>
                
        {% if mssj %}
        <div class="form-group">
            <a href ="/clientes/mostrarEscrituras/{{cliente_nombre}}" class = "btn btn-secondary btn-block">Ver escrituras</a>
        </div>
        {% else %}
        <div class="form-group">
            <input class="form-control" type="text" name="nombreEscritura" placeholder="Nombre escritura" required = "true"/>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="montoEscritura" placeholder="Monto escritura (no comas)" required = "true"/>
        </div>
        <div class="form-group">
            <label>Descripcion</label>
            <textarea class="form-control" name="descEscritura" placeholder="Descripcion..." rows="5" cols="60" ></textarea>
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary btn-block " type="submit" >Registrar</button>    
        </div>
        
        <div class="form-group">
            <a href ="javascript: history.go(-1)" class = "btn btn-danger btn-block">Cancelar</a>
        </div>
        {% endif %}
    </div>

</form>>

</form>
{% endblock %}