{% include 'base.html'%}
{% block head_content %}
<title>Editar cliente </title>
{% endblock %}

{% block container %}
    {% if mssj %}  <!-- error mandado de view.py url.py -->
    <p style="color:blue;">{{ mssj }}</p> 
    {% endif %}

    {% if error != "No" %}  <!-- error mandado de view.py url.py -->
    <p style="color: red;">{{ error }}</p> 
    {% endif %}

    
    <form method="POST" action="/clientes/editarcliente/{{ cliente }} %}"> <!-- Referencia a name = 'login' en url.py -->
        {% csrf_token %}

        <div class="formsPers">
        {% if actualizado %}
            <p class="alert alert-info"> Se actualizó la informacion de {{ cliente_data.nombre }} {{ cliente_data.apellidos }} </p> 
            <div class="form-group">
                <a href ="/clientes/cambiodestatus/" class = "btn btn-primary btn-block"> Regresar</a>
             </div>
        {% endif %}
        
            Nombre
            <div class="form-group">
                <input class="form-control" type="text" value ="{{ cliente_data.nombre }}" name="username" />
            </div>
            Apellidos
            <div class="form-group">
                <input class="form-control" type="text" value ="{{ cliente_data.apellidos }}" name="apellidos" />
            </div>
            Ocupacion
            <div class="form-group">
                <select class="form-control" name="ocupacion">
                    <option value = "{{ocupacioncliente.name}}" selected> {{ ocupacioncliente.description }}</option>
                {% for ocupacion in ocupacion %}
                <option value ="{{ ocupacion.name }}"> {{ ocupacion.description }} </option>
                {% endfor %}
                </select>
            </div>
            <hr>
            Telefonos
            <div class="form-group">
                <input class="form-control" type="text" value ="{{ telefononum.telefono }}" name="telefono" />
            </div>
            
            <div class="form-group">
                <select class="form-control" name="tipotel">
                <option value = "{{tipotelefonodata.id}}" disable> {{ tipotelefonodata.tipodetelefono }}</option>
                {% for tipotelefono in tipotelefono %}
                <option value ="{{ tipotelefono.id }}"> {{ tipotelefono.tipodetelefono }} </option>
                {% endfor %}
                </select>
                Tiene WhatsApp?
                <select class="form-control" name="tienewhats1">
                    {% if tipotelefonodata.whats %}
                    <option value ="s" selected> Si </option>
                    <option value ="n"> No </option>
                    {% endif %}
                    {% if tipotelefonodata.whats == False %}
                    <option value ="n" selected> No </option>
                    <option value ="s"> Si </option>
                    {% endif %}
            </select>
            </div>
            
            <hr>
            <h4>Direcciones </h4>
            Email
            <div class="form-group">
                <input class="form-control" type="text" name="email" value="{{direcciones.email}}"/>
            </div>
            Facebook
            <div class="form-group">
                <input class="form-control" type="text" name="facebook" value="{{direcciones.facebook}}"/>
            </div>
            Calle y número
            <div class="form-group">
                <input class="form-control" type="text" name="direccion" value="{{direcciones.direccion}}"  required = "true"/>
            </div>
            Fraccionamiento/Colonia
            <div class="form-group">
                <input class="form-control" type="text" name="fraccionamiento" value="{{direcciones.fraccionamiento}}" required = "true"/>
            </div>
            CP
            <div class="form-group">
                <input class="form-control" type="text" name="cp" value="{{direcciones.cp}}"/>
            </div>
            Ciudad
            <div class="form-group">
                <input class="form-control" type="text" name="ciudad" value="{{direcciones.ciudad}}"  />
            </div>
            Estado
            <div class="form-group">
                <input class="form-control" type="text" name="estado" value="{{direcciones.estado}}" required = "true"/>
            </div>


            <div class="form-group">
             <button class="btn btn-primary btn-block " type="submit" >Actualizar Información</button>
            </div>
            <div class="form-group">
                <a href="javascript:history.back(-1);" class = "btn btn-danger btn-block">Cancelar</a>
             </div>

        </div>
    
    </form>

{% endblock %}