{% include 'base.html' %}
{% block head_content %}
<title>Historial cambio etapas</title>
<style>
    .formsPers1 {
        max-width: 70%;
        margin:1px auto; 
    }	
    .formsPers2 {
        max-width: 40%;
        margin:1px auto; 
    }	

    @media (max-width:768px) {   
        .formsPers1 {
        max-width: 90%;
        }

        .formsPers2 {
        max-width: 90%;
        }
    }   
</style>
{% endblock %}

{% block container %}
<br>
<br>
<form method="POST" action="{% url 'clientes:historialEtapas' %}">
    {% csrf_token %}
    
    
    <datalist id="listaclientes">
        {% for clientes in clientes %}
        <option value="{{ clientes.id }}- {{ clientes.nombre }} {{ clientes.apellidos }} ">
        {% endfor %}
    </datalist>
      
      <div class="formsPers2">
        {% if mssj %}  <!-- error mandado de view.py url.py -->
        <p style="color:blue;">{{ mssj }}</p> 
        {% endif %}

        <div class="alert alert-info">Historial de movimientos de escrituras</div>
        <div class="form-group">
            <div class="form-control">
                <select name="clientenombre1" class="selectpicker report-filter form-control" data-live-search="true" >
                    {% if clientebus %}
                    <option value="{{ clientebus }}" >{{ clientebus }}</option>
                    <option value="" >-- Selecciona un cliente --</option>
                    {% else %}
                    <option value="" >-- Selecciona un cliente --</option>
                    {% endif %}
                    {% for clientes in clientes %}
                    <option value="{{ clientes.id }}- {{ clientes.nombre }} {{ clientes.apellidos }} "> {{ clientes.id }}- {{ clientes.nombre }} {{ clientes.apellidos }}</option>
                    {% endfor %}
                </select> 
            </div>
            <div >
            <label> Por fecha de cambio</label> 
            <input class="form-control col-md-5"  type="date" name="fecha" value="{{ fecha }}"/>
            </div>
            <br>
            <hr>
            Buscar sólo por Etapa
            <select class="form-control" name="etapacliente"> 
                    <option value ="0" selected > No etapa </option>
                    {% for etapas in etapas %}
                    <option value="{{ etapas.id }}"> {{ etapas.etapa }}</option>
                    {% endfor %}
            </select>

        </div>


        <div class="form-group">
        <button class="btn btn-primary btn-block " type="submit" >Buscar</button>
        </div>
        </div>
        <hr>  
        {% if etapadata %}
         <div class="formsPers1">
            <div class="form-group">
                <table name = "cotizacionesvalues" class="table table-responsive">
                    <thead class="table table-striped">
                      <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Escritura </th>
                        <th scope="col">Etapa</th>
                        <th scope="col">telefono</th>
                        <th scope="col">Es WhatsApp?</th>
                        <th scpoe="col">Creado por</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for etapadata in etapadata %}
                        <tr>
                            <td>{{ etapadata.fecha }}</td>
                            <td>{{ etapadata.cliente }} </td>
                            <td>{{ etapadata.escritura}}</td>
                            <td>{{ etapadata.etapa }}</td>
                            <td>{{ etapadata.telefono }}</td>
                            <td>{{ etapadata.whatsapp }}</td>
                            <td>{{ etapadata.createdby }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

</form>
{% endblock %}