{% include 'base.html'%}
{% block head_content %}
<title>Escrituras del cliente</title>

{% endblock %}

{% block container %}
{% if error == "No" %}  <!-- error mandado de view.py url.py -->
    <p class ="alert alert-danger">{{ error }}</p> 
{% endif %}
<br>
<form>
    {% csrf_token %} 
    <br>
    <div class="container">
        <b><p class="alert alert-info"> {{ cliente_bus }} </p> </b>
        <br>
        <div class ="form-group">
            {% if escrituras %}
            {% load humanize %}
            <table class="table table-responsive">
                <thead class="table table-striped">
                    <tr>
                        <th scope="col">Escritura</th>
                        <th scope="col"> Descripcion </th>
                        <th scope="col"> monto </th>
                        <th scope="col">Fecha registro</th>
                        <th scope="col">Etapa Actual</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>

                {% for escrituras in escrituras %}
                <tr>
                    <td> {{escrituras.escritura}} </td>
                    <td> {{escrituras.descripcion}} </td>
                    <td style="background-color: rgb(46, 197, 126)"> {{escrituras.monto|intcomma}} </td>
                    <td> {{escrituras.fecha}} </td>  
                    <td><b>{{escrituras.etapaActual}} </b> </td>  
                    <td> <a href ="/clientes/cambiarEtapa/{{escrituras.id}}" class = "btn btn-success">Actualizar etapa</a>  </td>
                </tr>
                {% endfor %}
                
            </table>
            {% else %}
            <div class="alert alert-info">
                Cliente sin escrituras
            </div>
            
            {% endif %}
            <br>
            <div class="form-group">
                <a href ="{% url 'clientes:crearEscritura' cliente_bus %}" class = "btn btn-primary" style="border-right-width: 60px;">   Nueva escritura  </a> 
            </div>

            <div class="form-group">
                <a href="javascript:history.back(-1);" class = "btn btn-danger " style="border-right-width: 105px;">Regresar</a>
            </div>
        </div>
        
        
    </div> 
</form>

{% endblock %}