{% include 'base.html'%}
{% block head_content %}
<title>Clientes</title>
<script type="text/javascript">

    function validar(e){ // 1
        tecla = (document.all) ? e.keyCode : e.which; // 2
        if (tecla==8) return true; // 3
        patron = /\d/; // Solo acepta números
        te = String.fromCharCode(tecla); // 5
        return patron.test(te); // 6
    } 
 
</script>
{% endblock %}

{% block container %}
    
    {% if error != "No" %}  <!-- error mandado de view.py url.py -->
    <p style="color: red;">{{ error }}</p> 
    {% endif %}
    <br>
    <form method="POST" action="{% url "clientes:registroclientes" %}"> <!-- Referencia a name = 'login' en url.py -->
        {% csrf_token %}
        <div class="formsPers">
            {% if mssj %}  <!-- error mandado de view.py url.py -->
            <div class="mssg_succes">
                <p class ="alert alert-success">{{ mssj }}</p> 
            </div>
            
            {% endif %}

            <div class="form-group">
                <input class="form-control" type="text" name="clientenombre" placeholder="Nombre" required = "true"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="apellidoscliente" placeholder="Apellidos" required = "true"/>
            </div>
            <div class="row form-group">
                <div class="col-md-5">
                    Fecha de nacimiento
                    <input class="form-control" type="date" name="fechanacimeinto" required/>
                </div>
                <div class="col-md-5">
                    Ocupación
                    <select class="form-control" name="ocupacion">
                        <option value = "0" disable> Ocupacion</option>
                    {% for ocupacion in ocupacion %}
                    <option value ="{{ ocupacion.name }}"> {{ ocupacion.description }} </option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <hr>
            Telefono
            <div class="form-group">
                <input class="form-control" type="text" name="telefono1" placeholder="Telefono" onkeypress="return validar(event)" />
            </div>
            
            <div class="form-group">
                <select class="form-control" name="tipotel1">
                    <option value = "0" disable> Tipo telefono</option>
                {% for tipotelefono in tipotelefono %}
                <option value ="{{ tipotelefono.id }}"> {{ tipotelefono.tipodetelefono }} </option>
                {% endfor %}
                </select>
            </div>
            <div>
            <select class="form-control" name="tienewhats1">
                    <option value = "n" disable> Es WhatsApp</option>     
                    <option value ="s"> Si </option>
                    <option value ="n"> No </option>
            </select>
            </div>
            <hr>
            Direcciones
            <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="Email"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="facebook" placeholder="Facebook"/>
            </div>
            <hr>
            <div class="form-group">
                <input class="form-control" type="text" name="direccion" placeholder="Calle y numero" required = "true"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="fraccionamiento" placeholder="Colonia" required = "true"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="cp" placeholder="Codigo Postal"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="ciudad" placeholder="Ciudad" />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="estado" placeholder="Estado" required = "true"/>
            </div>

            <div class="form-group">
                <select class="form-control" name="pais" >
                    <option value = "1" disable> Mexico</option>
                {% for pais in pais %}
                <option value ="{{ pais.id }}"> {{ pais.paisname }} </option>
                {% endfor %}
                </select>
            </div>

        {% if submit %}
        <div class="form-group">
            <button class="btn btn-primary btn-block " type="submit" >Registrar</button>    
        </div>
        
        <div class="form-group">
            <a href ="/main" class = "btn btn-danger btn-block">Cancelar</a>
        </div>
        {% endif %}

        {% if mssj %}
        <div class="form-group">   
            <button class="btn btn-primary btn-block " type="submit">Registrar Nuevo</button>      
        </div>
        <div class="form-group">
            <a href ="/main" class = "btn btn-danger btn-block">Regresar</a>
        </div>
        {% endif %}
    </div>
    




{% endblock %}