{% block head_content %}
<title>Ernesto Tellez Sys</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/elaa_logo.png' %}" />
    
    <style>
        .formsPers1 {
            max-width: 40%;
            margin:1px auto;
        }	
        @media (max-width:768px) {
            
            .formsPers1 {
            max-width: 90%;
            }
        }   
    </style>

{% endblock%}

{% block container %}

    <form method="POST" action="{% url "usuariosapp:login" %}"> <!-- Referencia a name = 'login' en url.py -->
        {% csrf_token %}
    <div class="container h-100">
        
        <div class="col-sm-12 col-md-20" id="auth-container">
            <img src="{% static 'img/ETELLEZ1C.png' %}" class="img-fluid rounded mx-auto d-block pb-4" style="max-width: 50%;">
        </div>
        
        <div class="formsPers1" >
        <h1 style="text-align: center; font-style: initial; font-size: 2.9rem; font-weight: bold;"> Log In </h1>
        
        <br>
        {% if error %}  <!-- error mandado de view.py url.py -->
        <p style="color: red; font-size: 1.1rem;">{{ error }}</p> 
        {% endif%}
         <div class="form-group">
            <input class="form-control" type="text" placeholder="Usuario" name="username"/>
         </div>

         <div class="form-group">
            <input class="form-control" type="password" placeholder="Contraseña" name="password"  />
         </div>

         <button class="btn btn-primary btn-block mt-5" type="submit" >Entrar</button>
        </div>
    </div>

    </form>

{% endblock %}