<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Hola {{mail}} desde un correo</h1> 
   <p>
       Este mensaje se envia desde Django
   </p>
   <img src="cid:image1" />
</body>
</html>