<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envio correo electrónico</title>
</head>
<body>
    <h2>Enviar correo </h2>
    <form method="POST" action="{% url "clientes:sendEmail" %}">
        {% csrf_token %}
        <input type="text" name = "mail" placeholder="demo@rxcample.com">
        <input style="font-size: 26px;" type="submit" value ="Enviar">
    </form>
</body>
</html>